
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <!-- css link -->
    <link rel="stylesheet" href="/css/font.css">
    <title>어따하지</title>
    <style>
        .back img {
            position: absolute;
            width: 16px;
            height: 31px;
            left: 38%;
            top: 30px;
            margin-left: -8px;
        }
        #head .name{position: absolute;
            width: 180px;
            height: 25px;
            left: 50%;
            top: 35px;
            margin-left:-90px;
            margin-top:0px;

            font-family: Do Hyeon;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #000000;}
        #head .category{
            position: absolute;
            width: 20px;
            height: 11px;
            left: 50%;
            top: 67px;
            margin-left:-10px;
            margin-top:0px;

            font-family: Do Hyeon;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 11px;
            /* identical to box height */
            text-align: center;

            color: #808080;
        }
        #parking_lot {
            display: grid;
            grid-template-columns: 0.9fr 2.1fr;
            grid-template-rows: 1fr 1fr 1fr;
            align-items: center;
            position: absolute;
            width: 360px;
            height: 118px;
            left: 50%;
            top: 153px;
            margin-left:-180px;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 7px;
        }
        #parking_lot > *{
            margin: 6px 15px;
        }
        #parking_lot > .label {
            color: #9c9c9c;
            font: bold;
        }
        #using {
            position: absolute;
            left: 50%;
            top: 290px;
            width: 360px;
            height: 70px;
            margin-left: -180px;

            background: #6D92E3;
            border: 1px solid rgba(89, 124, 200, 0.72);
            box-sizing: border-box;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 7px;

            font-family: "Do Hyeon";
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
            display:table-cell;
            vertical-align:middle;
            color: #fff;z-index:1;
        }
        #fee .detail {
            display: grid;
            grid-template-columns: 0.9fr 2.1fr;
            grid-template-rows: 1fr 1fr 1fr;
            align-items: center;
            position: absolute;
            width: 360px;
            height: 103px;
            left: 50%;
            top: 392px;
            margin-left:-180px;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 7px;}
        #fee p {
            position: absolute;
            width: 68px;
            height: 18px;
            left: 50%;
            top: 353px;
            margin-left:-34px;

            font-family: "Do Hyeon";
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 18px;
            text-align: center;

            color: #000000;
        }
        #fee .detail > *{
            margin: 4px 15px;
        }
        #fee > .detail > .label {
            color: #9c9c9c;
            font: bold;
        }
        #hours .detail{
            display: grid;
            grid-template-columns: 0.9fr 2.1fr;
            grid-template-rows: 1fr 1fr 1fr;
            align-items: center;
            position: absolute;
            width: 360px;
            height: 170px;
            left: 50%;
            top: 528px;
            margin-left:-180px;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 7px;}

        #hours p {
            position: absolute;
            width: 98px;
            height: 18px;
            left: 50%;
            top: 490px;
            margin-left:-49px;

            font-family: "Do Hyeon";
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 18px;
            text-align: center;

            color: #000000;
        }
        #hours .detail > *{
            margin: 6px 15px;
        }
        #hours > .detail > .label {
            color: #9c9c9c;
            font: bold;
        }
        #foot p {
            position: absolute;
            width: 136px;
            height: 16px;
            left: 50%;
            top: 707px;
            margin-left:-68px;

            font-family: "Do Hyeon";
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 16px;
            text-align: center;

            color: #808080;
        }
        #foot .button{
            position: absolute;
            width: 134px;
            height: 35px;
            left: 50%;
            top: 748px;
            margin-left: -67px;

            background: #6D92E3;
            border: 1px solid #597CC8;
            box-sizing: border-box;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 7px;

            font-family: Do Hyeon;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 19px;
            /* identical to box height */
            text-align: center;

            color: #FFFFFF;
        }
        #libraries .share {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 40%;
            top: 87px;
            margin-left:-20px;
        }
        #libraries .refactor {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 47%;
            top: 87px;
            margin-left:-20px;
        }
        #libraries .star {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 54%;
            top: 87px;
            margin-left:-20px;
        }
        #libraries .navi {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 60%;
            top: 87px;
            margin-left:-20px;

        }
    </style>

</head>
<body>
<div id="head">
    <p class="name">임성규님의 공유 주차장</p>
    <p class="category">공유</p>
</div>
<div class="back">
    <a href="/">
        <img src="images/back_button.png" />
    </a>
</div>
<div id="libraries">
    <img class="share" src="images/share.png"/>
    <img class="refactor" src="images/refactor.png" />
    <img class="star" src="images/star.png"/>
    <img class="navi" src="images/navi.png"/>
</div>
<div id="parking_lot">
    <div class="label">운영 시간</div>
    <div class="time" style="text-align: right"></div>
    <div class="label">위치</div>
    <div class="pos" style="text-align: right"></div>
    <div class="label">관리자 번호</div>
    <div class="admin_number" style="text-align: right"></div>
</div>
<div id="using">
    주차 이용
</div>
<div id="fee">
    <p>주차 요금</p>
    <div class="detail">
        <div class="label">기본 요금</div>
        <div class="basic_charge" style="text-align: right"></div>
        <div class="label">추가 요금</div>
        <div class="additional_charge" style="text-align: right"></div>
        <div class="label">할증 요금</div>
        <div class="premium_charge" style="text-align: right"></div>
    </div>
</div>
<div id="hours">
    <p>이용 시간</p>
    <div class="detail">
        <div class="label">평일</div>
        <div class="weekday" style="text-align: right"></div>
        <div class="label">토요일</div>
        <div class="sat" style="text-align: right"></div>
        <div class="label">공휴일</div>
        <div class="weekend" style="text-align: right"></div>
    </div>
</div>
<div id="foot">
    <p>업데이트 2021-07-31</p>
    <div class="button">최신 정보 알려주기</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({
            url:'http://localhost:8080/parkinglot_info?' +
                    "latitude=" + localStorage.getItem("latitude") +
                    "&longitude=" + localStorage.getItem("longitude"),
            type:'GET',
            dataType:'text',
            beforeSend:function(jqXHR) {
                console.log("requesting ajax..");
            },
            success: function(data) {
                var res = JSON.parse(data).response.body.items[0]
                document.getElementById("parking_lot").getElementsByClassName("time")[0].textContent = res["operDay"].replace(/\+/g, ", ");
                document.getElementById("parking_lot").getElementsByClassName("pos")[0].textContent = res["lnmadr"];
                document.getElementById("parking_lot").getElementsByClassName("admin_number")[0].textContent = res["phoneNumber"];
                document.getElementById("hours").getElementsByClassName("weekday")[0].textContent = res["weekdayOperOpenHhmm"] + " ~ " + res["weekdayOperColseHhmm"];
                document.getElementById("hours").getElementsByClassName("sat")[0].textContent = res["satOperOperOpenHhmm"] + " ~ " + res["satOperCloseHhmm"];
                document.getElementById("hours").getElementsByClassName("weekend")[0].textContent = res["holidayOperOpenHhmm"] + " ~ " + res["holidayCloseOpenHhmm"];
                document.getElementById("fee").getElementsByClassName("basic_charge")[0].textContent = (res["basicTime"] === "" || res["basicCharge"] === "" || res["basicCharge"] === "0") ? "무료" : res["basicTime"] + "분 / " + res["basicCharge"];
                document.getElementById("fee").getElementsByClassName("additional_charge")[0].textContent = (res["addUnitCharge"] === "" || res["addUnitTime"] === "") ? "X" : res["addUnitTime"] + "분 / " + res["addUnitCharge"];
                document.getElementById("fee").getElementsByClassName("premium_charge")[0].textContent = "X"
                console.log(JSON.parse(data));
                $("#Area").html(data);
            },
            error:function(jqXHR) {
                console.log("request failed");
            }
        });
        $("#using").click(() => {
            location.href="/using";
        })
        /*$("#using").click(function(){
            $.ajax({
                url:'http://localhost:8080/want',
                //url:'http://ec2-3-35-94-87.ap-northeast-2.compute.amazonaws.com:8080/want',
                type:'POST',
                //contentType : 보내는 데이터 형식
                //dataType : 받는 데이터 형식
                contentType:'application/json',
                data: JSON.stringify({"value":"1"}),
                success: function(){
                    console.log("request success");
                    window.location.href = '/using';

                },
                error:function(jqXHR) {
                    console.log("request failed");
                }
            });
        }); */
    });
    /*
    var main = {
        init : function () {
            var _this = this;
            $('#using').on('click', function (){
                _this.want();
            });
        },
        want : function () {
            var data = {
                value: $('1').val()
            };
            $.ajax({
                type:'POST',
                url: '/want',
                dataType: 'json',
                contentType:'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function() {
                console.log('1');
                window.location.href = '/using';
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    };
    main.init();

     */
</script>
</body>
</html>


